<app-menu></app-menu>

<router-outlet></router-outlet>
 
<!-- 
<div class="text-layout">
  <h1> Hola mundo </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quam tenetur veniam libero in, quisquam error nihil cupiditate non eligendi, unde dolorum ea necessitatibus minima quae repellat laudantium, voluptas aperiam?</p>
</div>

<button pButton 
  type="button"
  label="Click" 
  icon="pi pi-check"  
  iconPos="right" 
  class="p-button-secondary"
  >
</button>

<p-card [header]="name | titlecase" [subheader]="'edad: '+ edad ">
    Text of the card
  <ng-template pTemplate="footer">
      Footer content here
  </ng-template>
</p-card> -->
